@import url("__title/intro__title.css");
@import url("__text/intro__text.css");
@import url("__list/intro__list.css");
@import url("__list-figure/intro__list-figure.css");

.intro {
  margin: 0 auto;
  max-width: 984px;
  width: calc(100% - 48px - 48px);
}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - 24px - 24px);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: calc(100% - 16px - 16px);
  }
}