@import url("__nav/footer__nav.css");
@import url("__nav-list/footer__nav-list.css");
@import url("__nav-item/footer__nav-item.css");
@import url("__nav-link/footer__nav-link.css");
@import url("__copyright/footer__copyright.css");

.footer {
  padding-top: 92px;
  margin: 0 auto;
  width: calc(100% - 48px - 48px);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    width: calc(100% - 24px - 24px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 16px - 16px);
    flex-direction: column;
    padding-top: 64px;
  }
}